*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(68, 37, 37);
}
.btn{
    border: 2px solid black;
    text-align: center;
    width: 50px;
    height: 50px;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    border-bottom: 2px solid grey;
    font-weight: 600;
 padding-bottom: 30px;

}
.app h2{
    font-weight: 600;
    padding-bottom: 20px 0;
    padding-top: 7px;

}
.btn{ background: #fff;

    color: #222;
    border: 1px solid goldenrod;
    font-weight: 500;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3sec;


}
.btn:hover:not([disabled]){
    background: #222;
    color: aquamarine;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    border: 1px solid goldenrod;
    font-weight: 500;
    width: 30%;
    margin: 10px 0;
    /* margin-left: 280px; */
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3sec;
    display: none;
}
#next-btn:hover{
    background: #222;
    color: aquamarine;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}